<div class=" flex flex-col w-full space-y-8 !overflow-y-auto h-full">
    <div class="w-full  rounded-xl flex space-x-8 place-content-between items-center">
        <div class="flex flex-col space-y-3">
            <h1 class="m-0">Ek Çalışmalarım</h1>
            <p class="m-0">Sisteme ek çalışma eklemek/silmek/düzenlemek için bu ekranı kullanabilirsiniz.</p>
        </div>
        <p-button label="Ek Çalışma Oluştur" [outlined]="true" icon="pi pi-plus"
            (onClick)="showDialog(null)"></p-button>
    </div>
    <p-table class="h-full" [columns]="cols" [(first)]="firstIndex" [totalRecords]="totalRows()" [value]="data()" (onPage)="onPage($event)" [lazy]="true" (onLazyLoad)="load()" [paginator]="true" [rows]="pageSize" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    @if(col.field === 'operations'){
                    <div class="flex">
                        <p-button [disabled]="rowData.isApproved !== null" [rounded]="true" [text]="true" (onClick)="showDialog(rowData)"
                            icon="pi pi-pencil"></p-button>
                        <p-button [disabled]="rowData.isApproved !== null" [rounded]="true" [text]="true" (onClick)="delete(rowData.id)"
                            icon="pi pi-trash"></p-button>
                    </div>
                    }@else if (col.field === "hours") {
                    {{rowData.from}} - {{rowData.to}}
                    }@else if (col.field === "date") {
                    {{ rowData.date }}
                    }@else if (col.field === "tckn") {
                    {{rowData.user.tckn}}
                    }@else if (col.field === "name") {
                    {{rowData.user.name}}
                    }@else if (col.field === "isApproved") {
                        @switch (rowData.isApproved) {
                        @case (true) { 
                            <span class="w-28 text-center block rounded-md bg-green-500 text-white p-3 font-semibold">Onaylandı</span>
                        }
                        @case (false) { 
                            <span class="w-28 text-center block rounded-md bg-red-500 text-white p-3 font-semibold">Reddedildi</span>
                        }
                        @default {
                            <span class="w-28 text-center block rounded-md bg-slate-400 text-white p-3 font-semibold">Bekliyor</span>
                        }
                        }
                    }
                    @else if(col.field === "type"){
                        {{stringifyType(rowData[col.field])}}
                    }
                    @else {
                    {{ rowData[col.field] |slice:0:15}}
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>