<div class=" flex flex-col w-full space-y-8 !overflow-y-auto h-full">
    <div class="w-full  rounded-xl flex space-x-8 place-content-between items-center">
        <div class="flex flex-col space-y-3">
            <h1 class="m-0">Çalışma Raporu</h1>
            <p class="m-0">Sistemde bulunan bütün çalışma saatlerine buradan ulaşabilirsiniz.</p>
        </div>
    </div>
    <div class="flex justify-between w-full">
        <div class="flex">
            <p-calendar [(ngModel)]="selectedMonth" view="month" dateFormat="mm/yy" readonlyInput="true" styleClass="mr-5" />
            <p-multiSelect [maxSelectedLabels]="1" selectedItemsLabel="{0} kullanıcı seçildi." styleClass="mr-5 w-80 max-w-80" [ngClass]="!isAdmin ? 'hidden' : ''" [options]="users()" [(ngModel)]="selectedTckns" optionLabel="name" optionValue="tckn"
            placeholder="Kullanıcıları Seçin" [showClear]="true" (ngModelChange)="onTcknChange($event)"></p-multiSelect>
            <button pButton type="button" (click)="load()" label="Raporu Getir"
            styleClass="w-full"></button>
        </div>

        <p-button styleClass="w-full" label="Raporu İndir" [outlined]="true" icon="pi pi-download" (onClick)="downloadReport()"></p-button>
    </div>

    <p-table class="h-full" rowGroupMode="subheader" groupRowsBy="name" [columns]="cols" [value]="data()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    @if (col.field === "total_time") {
                        <p class="m-0 p-0 text-right">{{ col.header }}</p>
                    }
                    @else {
                        {{ col.header }}
                    }
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-rowData>
            <!-- GROUP HEADER -->
        </ng-template>
        <ng-template pTemplate="groupfooter" let-rowData>
            <tr>
                <td colspan="7" class="bg-gray-300 text-right font-bold">
                   Toplam: {{calculateTotalHours(rowData.tckn)}}
                </td> 
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    @if (col.field === "hours") {
                    {{rowData.start_time}} - {{rowData.end_time}}
                    }@else if (col.field === "date") {
                    {{rowData.date}}
                    }@else if (col.field === "tckn") {
                    {{rowData.tckn}}
                    }
                    @else if (col.field === "total_time") {
                    <p class="m-0 p-0 text-right"> {{rowData.total_time}}</p>
                    }@else {
                    {{ rowData[col.field] |slice:0:15}}
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>