<div class="w-full h-full flex flex-col space-y-4 grid-rows-7">
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="currentPass">Eski Şifre</label>
      <p-password
        class="w-full"
        styleClass="w-full"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [(ngModel)]="value.currentPass"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="newPass">Yeni Şifre</label>
      <p-password
        [ngClass]="attempt ? 'ng-invalid ng-dirty' : ''"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        styleClass="w-full"
        [(ngModel)]="value.newPass"
        [toggleMask]="true"
      >
        <ng-template pTemplate="header">
          <h6>Yeni şifrenizi yazınız</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider />
          <p class="mt-2">Gereksinimler</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>En az 1 küçük harf</li>
            <li>En az 1 büyük harf</li>
            <li>En az 1 sembol</li>
            <li>En az 8 karakter</li>
          </ul>
        </ng-template>
      </p-password>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="newPassAgain">Yeni Şifre Yeniden</label>
      <p-password
        [ngClass]="attempt ? 'ng-invalid ng-dirty' : ''"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        styleClass="w-full"
        [(ngModel)]="value.newPassAgain"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </div>
  <div class="row-span-3 h-full">
    <h1>Şifre Gereksinimleri:</h1>
    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
      <li>En az 1 küçük harf</li>
      <li>En az 1 büyük harf</li>
      <li>En az 1 sembol</li>
      <li>En az 8 karakter</li>
    </ul>
  </div>
  <div class="flex justify-end space-x-4 pt-2">
    <p-button
      (onClick)="close()"
      label="İptal"
      severity="secondary"
      [text]="true"
    ></p-button>
    <p-button (onClick)="changePassword()" label="Kaydet"></p-button>
  </div>
</div>
