<div class="w-full h-full flex flex-col space-y-4">
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="currentPass">Eski Şifre</label>
      <p-password
        class="w-full"
        styleClass="w-full"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [(ngModel)]="value.currentPass"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="newPass">Yeni Şifre</label>
      <p-password
        [ngClass]="attempt ? 'ng-invalid ng-dirty' : ''"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        styleClass="w-full"
        [(ngModel)]="value.newPass"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col space-y-2">
      <label class="text-sm" for="newPassAgain">Yeni Şifre Yeniden</label>
      <p-password
        [ngClass]="attempt ? 'ng-invalid ng-dirty' : ''"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        styleClass="w-full"
        [(ngModel)]="value.newPassAgain"
        [toggleMask]="true"
        [feedback]="false"
      />
    </div>
  </div>

  <div class="flex justify-end space-x-4 pt-2">
    <p-button
      (onClick)="close()"
      label="İptal"
      severity="secondary"
      [text]="true"
    ></p-button>
    <p-button (onClick)="changePassword()" label="Kaydet"></p-button>
  </div>
</div>
