<div class="w-full h-full flex flex-col space-y-4">
    <div class="grid grid-cols-7 gap-4">
        <div class="flex flex-col col-span-2 space-y-2">
            <label class="text-sm" for="tckn">Kullanıcı Tc Kimlik No</label>
            <input class="m-0" pInputText id="tckn" [(ngModel)]="value.tckn" />
        </div>
        <div class="flex flex-col col-span-2 space-y-2">
            <label class="text-sm" for="name">Ad Soyad</label>
            <input class="m-0" pInputText id="name" [(ngModel)]="value.name" />
        </div>
        <div class="flex flex-col col-span-2 space-y-2">
            <label class="text-sm" for="email">Email</label>
            <input class="m-0" type="email" pInputText id="email" [(ngModel)]="value.email" />
        </div>
        <div class="flex flex-col space-y-2">
            <label class="text-sm" for="description">Rol</label>
            <p-dropdown 
            [options]="roles" 
            [(ngModel)]="value.role" 
            optionLabel="authority" 
            placeholder="Select a City"  [style]="{'width':'100%'}"/>
        </div>
    </div>

    <div class="flex justify-end space-x-4 pt-8">
        <p-button (onClick)="close()" label="İptal" severity="secondary" [text]="true"></p-button>
        <p-button (onClick)="save()" label="Kaydet"></p-button>
    </div>
</div>