<div class="bg-white rounded-xl flex flex-col h-full w-full overflow-auto">
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
    <div>
        <p>dashboard-works</p>
    </div>
</div>